body {
	background-color: #efefef;
}

.App {
	max-width: 600px;
	padding: 60px 30px;
	margin: auto;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.countries {
	padding-bottom: 30px;
}

.countries select {
	width: 100%;
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
}

.card {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 60px;
	background-color: #fff;
}

.card__header {
	background-color: #ccc;
	display: flex;
	padding: 30px;
	align-items: center;
}

.card__header .title {
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.card__header .selectors {
	margin: 0 0 0 auto;
}

.card__header .selectors button {
	margin: 0 15px;
	border: 1px solid rgb(90, 90, 90);
	color: rgb(90, 90, 90);
	padding: 7px 20px;
	border-radius: 4px;
}

.card__header .selectors button.active {
	color: #fff;
	background-color: rgb(90, 90, 90);
	font-weight: 600;
}

.card__header .selectors button:last-child {
	margin-right: 0;
}

.graph {
	padding: 30px;
}

.loader {
	height: 269px;
	position: relative;
	display: flex;
	align-items: center;
}

.loader::after {
	content: "";
	border: 16px solid #f3f3f3;
	border-top: 16px solid rgb(90, 90, 90);
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 2s linear infinite;
	display: block;
	margin: auto;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
